@media (max-width: 1024px) {
	.main-form-wrapper {
		width: 90%;
	}
}

@media (max-width: 768px) {
	.main-form-wrapper {
		width: 95%;
	}
}

@media (max-width: 500px) {
	.main-form-wrapper {
		width: 100%;
	}
	.form-cover.login-active {
		justify-content: flex-start;
		width: 40%;
	}

	.form-cover.register-active {
		justify-content: flex-end;
		width: 40%;
	}

	.form-cover-content-wrapper {
		width: 100%;
		border-radius: inherit;
	}

	.form-cover-content-wrapper h1 {
		color: var(--contrast-light);
		font-weight: 400;
		font-size: 1.8rem;
		text-align: center;
		width: fit-content;
	}

	.trigger-container button {
		width: 130px;
	}

	.trigger-container h4 {
		color: var(--contrast-light);
	}

	.input-div {
		width: 80%;
	}
}

@media (max-width: 380px) {
	.form-cover-content-wrapper {
		row-gap: 25px;
	}
	.form-cover-content-wrapper h1 {
		color: var(--contrast-light);
		font-weight: 400;
		font-size: 1.5rem;
		text-align: center;
		width: fit-content;
	}

	.trigger-container h4 {
		font-size: 0.9rem;
	}
	.trigger-container {
		row-gap: 10px;
	}

	.trigger-container button {
		width: 100px;
	}

	.form-button {
		width: 120px;
		font: 1rem;
		padding: 2px;
	}
}
